@charset "UTF-8";
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"), local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"), local("Helvetica Neue");
}
:root {
  --palette-text-color: #006865;
  --palette-text-color-alt: #FF0077;
  --palette-background: #EFEFEF;
  --palette-background-pale: #EFEFEF;
  --palette-shadow: rgba(0, 0, 0, .1);
  --palette-white: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", system, sans-serif;
  color: var(--palette-text-color);
  background-color: var(--palette-background);
  background-image: linear-gradient(to bottom, var(--palette-background) 0, var(--palette-background) 500px, var(--palette-background-pale) 900px);
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1.5;
}

hr {
  width: 100%;
  height: 0;
  max-width: 400px;
  margin: 1rem auto;
  display: block;
  border: 0;
  border-top: 1px solid var(--palette-text-color);
}

img {
  max-width: 100%;
}

a {
  color: var(--palette-text-color);
  text-decoration: underline;
  outline: 0;
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
  color: var(--palette-text-color-alt);
}
a:focus, a:visited:focus {
  outline: solid var(--palette-text-color-alt) 2px;
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin-bottom: 1rem;
}

li {
  margin: 0;
}

article,
section {
  margin-bottom: 1rem;
}

h1 {
  font-weight: 900;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em 0;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem;
}

blockquote {
  margin: 2rem 0 0;
  padding: 1.5rem 3rem;
  position: relative;
  background: var(--palette-white);
  color: var(--palette-text-color);
  box-shadow: 2px 3px 2px var(--palette-shadow), 0 0 1px var(--palette-shadow);
  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  font-style: italic;
}
blockquote::before, blockquote::after {
  position: absolute;
  display: block;
  height: 2rem;
  font-size: 4rem;
  line-height: 1;
  font-family: Arial, "system", sans-serif;
  font-style: normal;
  font-weight: bold;
}
blockquote::before {
  top: 0.5rem;
  left: 0.5rem;
  content: "“";
}
blockquote::after {
  bottom: 0.5rem;
  right: 0.5rem;
  content: "”";
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.page-navigation {
  padding: 0.5rem 1rem;
  font-weight: 900;
}

.site-footer {
  padding: 1rem;
  font-size: 14px;
  text-align: center;
}
.site-footer a {
  text-decoration: none;
  background: none;
}

.home-content {
  padding: 0.5rem;
}
.home-content .logo {
  max-width: 270px;
  width: 100%;
  height: auto;
}
.home-content h1 {
  font-size: 1rem;
  text-align: center;
}
.home-content aside {
  margin-bottom: 20px;
}
.home-content aside ul {
  margin: 0;
}
.home-content aside li {
  list-style: none;
}
.home-content nav a,
.home-content aside a {
  flex: 1;
  font-size: 0.875rem;
  margin-bottom: 1px;
  padding: 0.25rem 0.5rem;
}
.home-content nav a:hover, .home-content nav a:focus,
.home-content aside a:hover,
.home-content aside a:focus {
  background-color: var(--palette-white);
}
.home-content nav,
.home-content aside li {
  display: flex;
  align-items: center;
}
.home-content nav span,
.home-content aside li span {
  margin: 0 0.125rem;
}
.home-content .logo {
  margin: 0 auto;
}
.home-content .project {
  width: 100%;
  margin: 0 0 20px 0;
  list-style: none;
  text-align: center;
}
.home-content .project a {
  width: 100%;
  height: calc(100vw - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-content .project a:hover, .home-content .project a:focus {
  text-decoration: none;
}
.home-content .project a:hover article, .home-content .project a:focus article {
  box-shadow: inset 0 0 0 1rem var(--palette-text-color);
}
.home-content .project article {
  width: 100%;
  margin-bottom: 0;
  transition: box-shadow 0.3s;
}
.home-content .project .title {
  margin: 0;
  padding: 1rem 0.5rem;
  background-color: var(--palette-white);
  color: var(--palette-text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}

@media only screen and (min-width: 540px) {
  .home-content {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
  }
  .home-content > * {
    aspect-ratio: 1/1;
  }
  .home-content header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-content aside {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-content header,
.home-content aside {
    background-color: var(--palette-white);
  }
  .home-content .project {
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }
  .home-content .project a {
    width: 100%;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    background-size: 100%;
    transition: background-size 0.15s ease-out;
  }
  .home-content .project a:hover, .home-content .project a:focus {
    outline: 0;
    background-size: 110%;
  }
  .home-content .project a:hover article, .home-content .project a:focus article {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .home-content .project a:hover .title, .home-content .project a:focus .title {
    opacity: 1;
    transform: scale(1);
  }
  .home-content .project article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color 0.2s ease-out, box-shadow 0.3s;
  }
  .home-content .project .title {
    display: inline-block;
    max-width: 210px;
    padding: 0.8rem 1rem;
    background: none;
    opacity: 0;
    transform: scale(1.3);
    transition: opacity 0.2s ease-out, transform 0.3s ease-out;
  }
  .site-header {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 650px) {
  .home-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 878px) {
  .home-content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.introduction-page .author-picture {
  overflow-x: hidden;
}
.introduction-page .author-picture img {
  min-width: 800px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.introduction-page .introduction-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.125rem;
}

.project-page .project-content {
  margin: 0 auto;
  max-width: 900px;
}
.project-page .project-images {
  padding: 1rem;
}
.project-page .project-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 3px 2px var(--palette-shadow), 0 0 1px var(--palette-shadow);
  border: 1rem solid var(--palette-white);
}
.project-page .project-image + .project-image {
  margin-top: 1rem;
}
.project-page .project-title {
  font-family: "Merriweather", serif;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .project-page .project-title {
    font-size: 2.8rem;
  }
}
.project-page .project-infos {
  max-width: 900px;
  margin: 2rem auto 0;
  padding: 1rem;
}
.project-page .project-infos .project-title::before,
.project-page .project-infos .project-title::after {
  font-size: 1.4rem;
}
.project-page .project-infos > :last-child {
  margin-bottom: 0;
}
.project-page .project-infos .project-title + hr {
  margin: 2rem auto;
}
.project-page .campaign-name {
  font-style: italic;
  font-weight: normal;
  font-size: 0.8em;
}
.project-page .campaign-name::before {
  content: "« ";
}
.project-page .campaign-name::after {
  content: " »";
}
.project-page .project-text {
  word-break: keep-all;
}
@media screen and (min-width: 800px) {
  .project-page .project-text {
    display: flex;
  }
  .project-page .project-text-content {
    flex: 0 0 60%;
    padding-right: 2rem;
  }
  .project-page .project-quote {
    margin: 0;
    align-self: flex-start;
    flex: 0 0 40%;
  }
}

.top-link {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0 auto 2rem auto;
  padding: 0;
  text-align: center;
  background: var(--palette-text-color);
  color: var(--palette-white);
  text-decoration: none;
}
.top-link:active, .top-link:hover {
  background: var(--palette-text-color-alt);
  color: var(--palette-white);
}

@media screen and (min-width: 801px) {
  .handheld-only {
    display: none;
  }
}
/* YouTube */
.youtube-wrapper {
  margin: 1rem auto;
  max-width: calc(900px - 2rem);
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  box-shadow: 2px 3px 2px var(--palette-shadow), 0 0 1px var(--palette-shadow);
  border: 1rem solid var(--palette-white);
}

.youtube-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

h1,
.site-title {
  margin: 0 0 1rem;
  display: block;
}

.author-name {
  text-decoration: none;
}

.author-name,
.logo {
  display: block;
}

.container {
  /* max-width: calc(5 * 270px + 4 * 0.25rem); */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-content {
  margin: 2rem auto 0;
}

/* **************** */
/* Site Header */
.site-header {
  padding: 10px;
}

.site-title {
  font-size: 2.8rem;
  font-weight: normal;
}

.site-subtitle {
  display: block;
  font-size: 0.875rem;
}

@media only screen and (min-width: 900px) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }
  .site-title {
    margin: 0;
  }
}
@media screen and (min-width: 800px) {
  .author-picture img {
    margin-left: 0;
    transform: none;
  }
}
