{{ partial "header.html" . }}

<div class="site-header">
  <div class="site-title" itemscope itemtype="http://schema.org/Person">
    <a href="/" itemprop="name">{{ .Site.Author.name }}</a>
    <small class="site-subtitle" itemprop="jobTitle">{{ .Site.Author.occupation }}</small>
  </div>
  <nav class="site-navigation">
    {{ range where .Site.RegularPages "Section" "page" -}}
    <span class="navigation-item"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
    {{- end }}
  </nav>
</div>

<main id="content" class="site-content">
  <article class="single-project">
    {{ partial "project-infos.html" . }}

    {{ partial "project-images.html" . }}
  </article>
</main>

{{ partial "footer.html" . }}
