{{ partial "header.html" . }}

{{ partial "page-nav.html" . }}

<main id="content" class="site-content">
  <article class="single-project">
    <div class="project-infos">
      <h1 class="project-title">
        {{- if .Params.extendedTitle -}}
          {{ .Params.extendedTitle }}
        {{- else -}}
          {{ .Title }}
        {{- end -}}
      </h1>

      <hr>

      {{ .Content }}
    </div>

    <div class="project-images">
      {{ range .Params.images -}}
      <img src="{{ . }}" alt="" class="project-image">
      {{- end }}
    </div>
  </article>
</main>

{{ partial "footer.html" . }}
