*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  background-color: #f7f7f7;
  font-size: 1rem;
}

body {
  margin: 0;
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
  height: 0;
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid #888888;
}

img {
  max-width: 100%;
}

a {
  color: #78c9a1;
  text-decoration: none;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #78c9a1;

  transition: border-bottom .15s;
}

a:hover {
  text-decoration: none;
  border-bottom-color: transparent;
}

ol, ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol, ul ul, ul ol, ol ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}

article, section {
  margin-bottom: 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 1.875rem;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin: 0 0 1rem;
}

/* **************** */
/* misc */
.fat {
  font-weight: bold;
}

/* **************** */
/* site wrapper */

.site-wrapper {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width : 900px) {
  .site-wrapper {
    display: flex;
  }
}

/* **************** */
/* site header */

.site-header {
  padding: 1rem;
  text-align: center;
}

.site-title {
  padding-top: 60px;
  background-image: url(/img/common/logo.png);
  background-position: top center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.site-subtitle {
  display: block;
  font-size: 1.2rem;
}

.navigation-item {
  display: block;
}

@media only screen and (min-width: 900px) {
  .site-header {
    flex: 0 0 300px;
  }

  .site-title {
    padding-top: 160px;
    background-size: 160px 160px;
  }
}

/* */

.site-content {
  flex: 1;
}

/* ************************* */
/* index */

.projects-list {
  margin: 0;
}

.projects-list-item {
  list-style: none;
  background-color: #333;

  overflow: hidden;
  position: relative;
}
  .projects-list-item figure {
    height: 380px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }

  .projects-list-item a {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    text-decoration: none;
    border: none;
  }
    .projects-list-item a:hover figcaption {
      opacity: 1;
    }

    .projects-list-item a:hover .thumbnail {
      transform: scale(1.02);
      opacity: .5;
    }

    .projects-list-item a:hover .separator {
      width: 40px;
    }

    .projects-list-item a:hover .title,
    .projects-list-item a:hover .short-description {
      top: 0;
    }

  .projects-list-item .thumbnail {
    display: block;
    width: 100%;
    margin-top: -50%;
    position: absolute;
    top: 50%;
    z-index: 0;
    transform-origin: center;
    transition: transform .15s, opacity .15s;
  }

  .projects-list-item figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #569073;
    color: #fff;
  }

  .projects-list-item .title {
    margin-bottom: .5rem;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    top: -.5rem;
    transition: top .15s .05s;
  }

  .projects-list-item .separator {
    display: block;
    margin: 0 auto;
    width: 0px;
    height: 1px;
    background-color: #fff;
    transition: width .15s .15s;
  }

  .projects-list-item .short-description {
    margin-top: .5rem;
    margin-bottom: 0;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    top: .5rem;
    transition: top .15s .05s;
  }

@media only screen and (min-width: 600px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }

  .projects-list-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }

  .projects-list-item figure {
    height: 280px;
  }

  .projects-list-item figcaption {
    top: 0;
    opacity: 0;
    transition: opacity .25s;
  }
}

@media only screen and (min-width: 1200px) {
  .projects-list-item {
    flex-basis: 33.33333%;
  }
}

@media only screen and (min-width: 1500px) {
  .projects-list-item {
    flex-basis: 25%;
  }
}

/* */
/* page */
.page {
  max-width: 900px;
  padding: 1rem;
}

.page h2 {
  margin-bottom: 2rem;
}

/* */
/* project */

.single-project {
  max-width: calc(1465px - 300px);
}

.project-images {
  padding: 1rem;
}

.project-image {
  max-width: 100%;
  display: block;
  box-shadow: 2px 3px 2px rgba(0,0,0, .1);
  border: 1px solid rgba(0,0,0, .13);
}

.project-image + .project-image {
  margin-top: 1rem;
}

.project-infos {
  text-align: center;
}

.project-infos .sticky {
  padding: 1rem;
}

.project-infos .project-customer {
  margin-bottom: 0;
}

.project-infos .project-title::before,
.project-infos .project-title::after {
  font-size: 1.4rem;
}

.project-infos .project-title::before { content: "« "; }

.project-infos .project-title::after { content: " »"; }

.project-infos :last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
  .project-infos {
    text-align: left;
  }
}

@media only screen and (min-width: 1265px) {
  .single-project {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-images {
    flex: 1;
  }

  .project-infos {
    flex: 0 0 300px;
  }

  .project-infos .sticky {
    position: fixed;
  }
}
