@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"), local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"), local("Helvetica Neue");
}
/*
  Pantone PANTONE 709 CP
  https://www.pantone.com/color-finder/709-CP
  #E27A89
 */

:root {
  --palette-text-color: #FFF;
  --palette-text-color-alt: #EEE;
  --palette-background: #CB7473;
  --palette-background-pale: #D89897;
  --palette-shadow: rgba(0, 0, 0, .1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", system, sans-serif;
  color: var(--palette-text-color);
  background-color: var(--palette-background);
  background-image: linear-gradient(to bottom, var(--palette-background) 0, var(--palette-background) 500px, var(--palette-background-pale) 900px);
}

body {
  font-size: 100%;
  line-height: 1.5;
}

hr {
  width: 100%;
  height: 0;
  max-width: 400px;
  margin: 1rem auto;

  display: block;

  border: 0;
  border-top: 1px solid rgba(255, 255, 255, .83);
}

img {
  max-width: 100%;
}

a[href] {
  color: var(--palette-text-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  outline: 0;
}

a[href]:hover,
a[href]:focus,
a[href]:visited:hover,
a[href]:visited:focus {
  color: var(--palette-text-color-alt);
}

a[href]:focus,
a[href]:visited:focus {
  outline: dotted var(--palette-text-color-alt) 2px;
}

@supports not (text-decoration-skip-ink: auto) {
  a[href] {
    text-decoration: none;
    background: linear-gradient(currentColor, currentColor) no-repeat;
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .site-nav a {
    background: none;
  }
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}

article,
section {
  margin-bottom: 1rem;
}

h1, .site-title {
  margin: 0 0 1rem;
  display: block;
}

.author-name {
  font-family: "Caveat", system, sans-serif;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .5em 0;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem;
}

blockquote {
  margin: 2rem 0 0;
  padding: .5rem .5rem .5rem 3rem;
  position: relative;

  background: var(--palette-text-color);
  color: var(--palette-background);

  box-shadow: 2px 3px 2px var(--palette-shadow);

  font-size: 1.1rem;
}

  blockquote::before {
    position: absolute;
    top: 4px;
    left: 4px;

    font-size: 4rem;
    font-weight: bold;
    line-height: 1;

    content: "“";
    font-family: "Arial", sans-serif;
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-content {
  margin: 2rem auto 0;
}

/* **************** */
/* Site Header */

.site-header {
  padding: 1rem;
}

.site-title {
  font-size: 1.875rem;
  font-weight: normal;
}

  /* .site-title a[href],
  .site-title a[href]:hover,
  .site-title a[href]:focus { outline: 0; } */

.site-subtitle {
  display: block;
  font-size: 1rem;
}

.site-navigation {
  padding: 0;
}

  /* .site-navigation a,
  .site-navigation a[href]:hover,
  .site-navigation a[href]:focus { outline: 0; } */

.navigation-item {
  display: block;
  text-transform: uppercase;
}

@media only screen and (min-width: 900px) {
  .site-header {
    display: flex;
    justify-content: space-between;
  }

  .site-title {
    font-size: 2.4rem;
    margin: 0;
  }

  .site-navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .navigation-item {
    padding: .3rem .5rem;
  }
}

/* ************************* */
/* Site footer */
.site-footer {
  padding: 1rem;
  font-size: 14px;
  text-align: center;
}

/* ************************* */
/* Home page */

.projects-list {
  margin: 2rem auto 4rem;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.projects-list-item {
  height: 250px;
  list-style: none;
  text-align: center;
}

  .projects-list-item a[href] {
    width: 100%;
    height: 250px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-width: 2px;
    border-style: solid;
    border-color: white;

    transition: border-width .1s;
    box-shadow: 2px 3px 2px var(--palette-shadow);
  }

    .projects-list-item a[href]:hover,
    .projects-list-item a[href]:focus {
      text-decoration: none;
      border-width: 10px;
      border-bottom-width: 2px;
      /* outline: 0; */
    }

  .projects-list-item article {
    width: 100%;
    margin-bottom: 0;
  }

  .projects-list-item .title {
    background: white;
    color: var(--palette-background);
    margin: 0;
    padding: .5rem;

    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
  }

@media only screen and (min-width: 510px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-list-item a[href] {
    width: 250px;
    height: 250px;

    padding: 0;

    justify-content: center;
  }

    .projects-list-item a[href]:hover,
    .projects-list-item a[href]:focus {
      border-bottom-width: 10px;
      outline: 0;
    }

    .projects-list-item a[href]:hover article,
    .projects-list-item a[href]:focus article {
      opacity: 1;
    }

  .projects-list-item article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, .9);

    opacity: 0;
    transition: opacity .25s ease-out;
  }

  .projects-list-item .title {
    display: inline-block;
    max-width: 210px;
    border: 2px solid var(--palette-background);
    padding: .5rem 1rem;
    transition: transform .15s .05s ease-out;
  }
}

@media only screen and (min-width: 770px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 920px) {
  /* .projects-list-item .title {} */
}

@media only screen and (min-width: 1040px) {
  .projects-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* */
/* Single Page */

.page {
  max-width: 900px;
  padding: 1rem;
}

  .page h2 {
    margin-bottom: 2rem;
  }

/* */
/* Single project */

.project-images {
  padding: 1rem;
}

.project-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 3px 2px var(--palette-shadow);
  border: 1rem solid var(--palette-text-color);
}

.project-image + .project-image {
  margin-top: 1rem;
}

.project-title {
  font-size: 2.4rem;
  text-align: center;
}

.project-infos {
  max-width: 600px;
  margin: 2rem auto 0;
  padding: 1rem;
}

  .project-infos .project-title::before,
  .project-infos .project-title::after {
    font-size: 1.4rem;
  }

  .project-infos :last-child {
    margin-bottom: 0;
  }

    .project-infos .project-title + hr {
      margin: 2rem auto;
    }

  .campaign-name {
    font-style: italic;
    font-weight: normal;
    font-size: .8em;
  }
    .campaign-name::before {
      content: "« ";
    }

    .campaign-name::after {
      content: " »";
    }

/* Skip to content link */

.a11y-skip[href] {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;
  text-decoration: none;
}

.a11y-skip[href]:active,
.a11y-skip[href]:focus,
.a11y-skip[href]:hover {
  left: 1rem;
  top: 1rem;
  width: auto;
  height: auto;
  padding: .5rem;
  overflow: visible;
  outline: 0;
  background-color: var(--palette-background);
  border: .5rem solid var(--palette-text-color);
  text-decoration: none;
}
