:root {
  --palette-light-color: #007A4B;
  --palette-dark-color: rgba(0, 90, 43, 1);
  --palette-dark-color-transparent: rgba(0, 90, 43, 0);
  --palette-white: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  background-color: #fcfcfc;
}

body {
  line-height: 1.6;
}

hr {
  margin: 1rem 0;
  height: 0;
  display: block;
  width: 100%;
  border: 0;
  border-top: 1px solid #888888;
}

img {
  max-width: 100%;
}

a {
  color: var(--palette-light-color);
  text-decoration: none;

  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--palette-light-color);

  transition: border-bottom-width .15s;
}

a:hover,
a:focus {
  text-decoration: none;
  border-bottom-width: 5px;
  outline: 0;
}

ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol, ul ul, ul ol, ol ul {
  margin-bottom: 0;
}

li {
  margin: 0;
}

article, section {
  margin-bottom: 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p {
  margin: 0 0 1rem;
}

/* **************** */
/* Site Header */

.site-header {
  padding: 1rem;
  text-align: center;
}

.site-title {
  padding: 140px 0 0 0;
  
  font-size: 1.5rem;
  background-image: url(/img/common/logo.png);
  background-position: top center;
  background-size: 140px 140px;
  background-repeat: no-repeat;
}

.site-subtitle {
  display: block;
  font-size: 1rem;
}

.site-navigation {
  padding: 0;
}

.navigation-item {
  display: block;
}

@media only screen and (min-width: 900px) {
  .site-title {
    padding: 160px 0 0 0;

    font-size: 1.875rem;
    background-size: 160px 160px;
  }
}

/* ************************* */
/* Home page */

.projects-list {
  margin: 0;
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.projects-list-item {
  height: 60vw;

  list-style: none;
  background-color: var(--palette-dark-color);
}

  .projects-list-item a {
    width: 100%;
    height: 100%;
    padding: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    background-color: var(--palette-dark-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
  }

  .projects-list-item article {
    width: 100%;
    margin-bottom: 0;
    padding: 0.375rem;

    background-color: var(--palette-dark-color);
    color: var(--palette-white);
  }

  .projects-list-item .title {
    margin-bottom: .5rem;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

  .projects-list-item .separator {
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 1px;
    background-color: var(--palette-white);
  }

  .projects-list-item .short-description {
    margin-top: .5rem;
    margin-bottom: 0;
    position: relative;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

@media only screen and (min-width: 540px) {
  .projects-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-list-item {
    height: 50vw;
  }

  .projects-list-item a {
    padding: 0;
    justify-content: center;
  }

    .projects-list-item a:hover article,
    .projects-list-item a:focus article {
      opacity: 1;
      background-color: var(--palette-dark-color);
    }

    .projects-list-item a:hover .title,
    .projects-list-item a:hover .short-description,
    .projects-list-item a:focus .title,
    .projects-list-item a:focus .short-description {
      top: 0;
      transform: scale(1.02);
    }

    .projects-list-item a:hover .separator,
    .projects-list-item a:focus .separator {
      width: 40px;
    }

  .projects-list-item article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    background-color: var(--palette-dark-color-transparent);
    transition: opacity .25s ease-out, background-color .2s ease-out;
  }

  .projects-list-item .title {
    top: -.5rem;
  }

  .projects-list-item .short-description {
    top: .5rem;
  }

  .projects-list-item .title,
  .short-description {
    transition: top .15s .05s ease-out, transform .15s .05s ease-out;
  }

  .projects-list-item .separator {
    width: 0px;
    transition: width .1s .1s ease-out;
  }
}

@media only screen and (min-width: 820px) {
  .projects-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-list-item {
    height: 33vw;
  }
}

@media only screen and (min-width: 1400px) {
  .projects-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .projects-list-item {
    height: 25vw;
  }
}

/* */
/* page */
.page {
  max-width: 900px;
  padding: 1rem;
}

.page h2 {
  margin-bottom: 2rem;
}

/* */
/* project */

.project-images {
  padding: 1rem;
}

.project-image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 3px 2px rgba(0,0,0, .1);
  border: 1px solid rgba(0,0,0, .13);
}

.project-image + .project-image {
  margin-top: 1rem;
}

.project-infos {
  text-align: center;
}

.project-infos .sticky {
  padding: 1rem;
}

.project-infos .project-customer {
  margin-bottom: 0;
}

.project-infos .project-title::before,
.project-infos .project-title::after {
  font-size: 1.4rem;
}

.project-infos .project-title::before { content: "« "; }

.project-infos .project-title::after { content: " »"; }

.project-infos :last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1265px) {
  .single-project {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-images {
    flex: 1;
  }

  .project-infos {
    flex: 0 0 500px;
    text-align: left;
  }

  .project-infos .sticky {
    position: fixed;
  }
}
