.top-link {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;

  margin: 0 auto 2rem auto;
  padding: 0;

  text-align: center;
  background: var(--palette-text-color);
  color: var(--palette-white);
  text-decoration: none;

  &:active,
  &:hover {
    background: var(--palette-text-color-alt);
    color: var(--palette-white);
  }
}
