@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local("system-ui"), local(".SFNSText-Light"), local("Segoe UI"), local("Roboto"), local("Oxygen-Sans"), local("Ubuntu"), local("Cantarell"), local("Helvetica Neue");
}

:root {
  --palette-text-color: #006865;
  --palette-text-color-alt: #FF0077;
  --palette-background: #EFEFEF;
  --palette-shadow: rgba(0, 0, 0, .1);
  --palette-white: #FFFFFF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", system, sans-serif;
  color: var(--palette-text-color);
  background-color: var(--palette-background);
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  line-height: 1.5;
}

hr {
  width: 100%;
  height: 0;
  max-width: 400px;
  margin: 1rem auto;

  display: block;

  border: 0;
  border-top: 1px solid var(--palette-text-color);
}

img {
  max-width: 100%;
}

a {
  color: var(--palette-text-color);
  text-decoration: underline;
  outline: 0;

  &:hover,
  &:focus,
  &:visited:hover,
  &:visited:focus {
    color: var(--palette-text-color-alt);
  }

  &:focus,
  &:visited:focus {
    outline: solid var(--palette-text-color-alt) 2px;
  }
}


ol,
ul {
  margin: 0 0 1rem 1.25rem;
  padding: 0;
  list-style-position: outside;
}

ol ol,
ul ul,
ul ol,
ol ul {
  margin-bottom: 1rem;
}

li {
  margin: 0;
}

article,
section {
  margin-bottom: 1rem;
}

h1 {
  font-weight: 900;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 .5em 0;
  line-height: 1.2;
}

p {
  margin: 0 0 1rem;
}

blockquote {
  margin: 2rem 0 0;
  padding: 1.5rem 3rem;
  position: relative;

  background: var(--palette-white);
  color: var(--palette-text-color);

  box-shadow: 2px 3px 2px var(--palette-shadow), 0 0 1px var(--palette-shadow);

  font-family: "Merriweather", serif;
  font-size: 1.1rem;
  font-style: italic;

  &::before,
  &::after {
    position: absolute;
    display: block;
    height: 2rem;
    font-size: 4rem;
    line-height: 1;

    font-family: Arial, "system", sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  &::before {
    top: 0.5rem;
    left: 0.5rem;
    content: "“";
  }

  &::after {
    bottom: 0.5rem;
    right: 0.5rem;
    content: "”";
  }
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
