{{ partial "header.html" . }}

<header class="site-header container">
  <h1 class="site-title">
    {{ partial "heading-content.html" . }}
  </h1>

  {{ partial "site-navigation.html" . }}

</header>

<main id="content" class="site-content container">
  <ul class="projects-list">
    {{ range (where .Data.Pages "Section" "project") -}}
    {{ $thumbnail := .Resources.GetMatch "miniature*" }}
    <li class="projects-list-item">
      <a href="{{ .Permalink }}" style="background-image: url({{- with $thumbnail -}}{{ .RelPermalink }}{{- end -}});">
        <article>
          <h2 class="title">{{ .Title }}</h2>
        </article>
      </a>
    </li>
    {{- end }}
  </ul>
</main>

{{ partial "footer.html" . }}
