{{ partial "header.html" . }}

<main class="home-content">
  <header>
    <h1>
      <a href="/" class="author-name"><img class="logo" width="270" height="82" src="{{ "img/common/logo-lauranne-hery.png" | relURL }}" alt="{{ .Site.Author.name }}"></a>
      {{ .Site.Author.occupation }}
    </h1>

    <nav>
      <span aria-hidden="true">🙋🏻‍♀️</span><a href="/presentation">Présentation</a>
    </nav>
  </header>

  {{ partial "contact.html" . }}

  {{ range (where .Site.Pages "Section" "project") -}}
  {{ $thumbnail := .Resources.GetMatch "miniature*" }}
  <div class="project">
    <a href="{{ .Permalink }}" style="background-image: url({{- with $thumbnail -}}{{ .RelPermalink }}{{- end -}});">
      <article>
        <h2 class="title">{{ .Title }}</h2>
      </article>
    </a>
  </div>
  {{- end }}
</main>

{{ partial "footer.html" . }}
