{{ partial "header.html" . }}

<header class="site-header">

  <h1 class="site-title" itemscope itemtype="http://schema.org/Person">
    <a href="/" itemprop="name" class="author-name">{{ .Site.Author.name }}</a>
    <small class="site-subtitle" itemprop="jobTitle">{{ .Site.Author.occupation }}</small>
  </h1>

  <nav class="site-navigation">
    {{ range where .Site.RegularPages "Section" "page" }}
    <span class="navigation-item"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
    {{ end }}
  </nav>
</header>


<main id="content" class="site-content">
  <ul class="projects-list">
    {{ range (where .Data.Pages "Section" "project").ByTitle -}}
    <li class="projects-list-item">
      <a href="{{ .Permalink }}" style="background-image: url({{ .Params.miniature }});">
        <article>
          <h2 class="title">{{ .Title }}</h2>
        </article>
      </a>
    </li>
    {{- end }}
  </ul>
</main>

{{ partial "footer.html" . }}
