{{ partial "header.html" . }}

{{ partial "page-nav.html" . }}

<main id="content" class="site-content">
  <article class="single-project">
    <div class="project-infos">
      <h1 class="project-title">
        {{- .Title -}}
        <br>
        <span class="campaign-name">{{ .Params.campaignName }}</span>
      </h1>

      <hr>

      {{ .Content }}
    </div>

    <div class="project-images">
      {{ range .Resources.Match "images/*" -}}
      <img src="{{ .RelPermalink }}" alt="Image extraite du projet {{ .Title }}" class="project-image">
      {{- end }}
    </div>
  </article>
</main>

{{ partial "footer.html" . }}
