{{ partial "header.html" . }}

{{ partial "page-nav.html" . }}

<main id="content" class="site-content">
  <article class="single-project">
    <div class="project-infos">
      <h1 class="project-title">
        {{- .Title -}}
        <br>
        <span class="campaign-name">{{ .Params.campaignName | safeHTML }}</span>
      </h1>

      <hr>

      <div class="project-text">
        <div class="project-text-content">
          {{ .Content }}
        </div>
        <blockquote class="project-quote">
          {{ .Params.quote | safeHTML }}
        </blockquote>
      </div>
    </div>

    <div class="project-images">
      {{ range .Resources.Match "images/*.{jpg,jpeg,png}" -}}
      <img src="{{ .RelPermalink }}" alt="Image extraite du projet {{ .Title }}" class="project-image">
      {{- end }}
    </div>
  </article>
</main>

<nav class="container">
  <a href="#menu" aria-label="Revenir en haut de la page">↑</a>
</nav>

{{ partial "footer.html" . }}
